[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2 = "*"
gunicorn = "*"
Flask = "*"
Flask-Script = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-Cors = "*"
Flask-JWT-Extended = "*"
Flask-Mail = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python app.py runserver"
init = "python app.py db init"
migrate = "python app.py db migrate"
upgrade = "python app.py db upgrade"
downgrade = "python app.py db downgrade"
loaddata = "python app.py load_globales"
